<h1>Yoshi Cooremans</h1>

<h1>Emp name cookie value is  <%= cookies[:emp_name] %></h1>

<h1>Emp name cookie value is  <%= cookies[:exp_cookies] %></h1>

<h1>User ID is  <%= cookies.signed[:user_id] %></h1>

<h1>Credit Card is  <%= cookies.encrypted[:credit_card] %></h1>

<%= link_to "Goto Home", home_path %>
