
<div>

<p>Month is <%= @currenttime.month%>
<p>day is <%= @currenttime.day%>
<p>Year is <%= @currenttime.year%>
<p>Week day is <%= @currenttime.wday%>
<p>Day in the Year <%= @currenttime.yday%>
<p>Hour is <%= @currenttime.hour%>
<p>minute is <%= @currenttime.min%>
<p>Seconds are <%= @currenttime.sec%>
<p>zone is <%= @currenttime.zone%>

</div>